<div class="recipe-details">
    <div class="recipe-title">
        <h2 class="title" title="Test">Piept de pui cu orez</h2>
    </div>
    <div class="recipe-description">
        <div class="recipe-ingredients">
            <p class="section-title">Recipe ingredients</p>
            <ul>
                <li *ngFor="let item of shoppingList">
                  <label>
                    <input type="checkbox" [(ngModel)]="item.checked">
                    {{ item.name }}
                  </label>
                </li>
              </ul>
        </div>
        <div class="recipe-price">
            <p class="section-title">Recipe price</p>
            <p class="section-info">100 lei</p>
        </div>
        <div class="recipe-location">
            <p class="section-title">Recomended store</p>
            <p class="section-info">Carrefour</p>
        </div>
        <p class="section-title">Recipe description</p>
        <p class="section-info">Se pune pe foc o oala cu apa si putina sare. Cand clocoteste apa se pune orezul si se lasa sa fiarba la foc mic. In timp ce fierbe pieptul de pui se taie bucatele se condimenteaza si se prajeste in 3-4 linguri de ulei de masline. Cand a scazut apa si incepe sa se rumeneasca se pune ceapa taiata rondele si daca doriți si morcovul taiat rondele.
            Se mai lasa cateva minute sa se caleasca ceapa si carnea sa fie rumenita si se adauga orezul ( scurs si strecurat). Se amesteca bine si se mai lasa 2-3 minute pe foc. Se serveste cald cu salata de varza sau muraturi.
        </p>
    </div>
</div>
