
<!-- 
<div class="card-container">
    <div class="card-title">
        <h1 class="title neonText">Shop2Cook, One-stop shop for your recipes.</h1>
    </div>

    <div style="width:40%;">
        <input type="text" class="search-input" 
        placeholder="Search" 
        id="typeahead-format"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        [resultFormatter]="formatter"
        name="search-product"
    >
    </div>

    <div class="data-container">
        
        <recipes-table></recipes-table>
    </div>

    <div *ngIf="this.storeList.length> 0? true: false" [ngStyle]="{ 'background-color': 'gray' }">
        <label>Magazine</label>
        <p-dataView [value]="storeList">
            <ng-template let-store pTemplate="listItem">
                <br>
                <div class="flex align-items-center p-2 w-full flex-wrap" [ngStyle]="{ 'background-color': 'white' }">
                    <div class="w-full text-center lg:w-auto lg:text-left">
                        <label>{{store.name}}</label>
                    </div>
                    <div class="flex-1">
                        <h5 class="mb-2">{{ store.addrstring }}</h5>
                        <i class="pi pi-tag vertical-align-middle mr-2"></i>
                        <span class="vertical-align-middle line-height-1">{{ store.zipcode }}</span>
                    </div>
                    <div class="flex flex-column align-items-end">
                        <h6 class="mb-2">{{ 'lat:' + store.location.Lat!=undefined? store.location.Lat: '0' + ' long:' + store.location.Lon!= undefined? store.location.Lon: '0' }}</h6>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
 -->

 <div class="a-container">
<div class="a-container-title">
    Shop2Cook, One-stop shop for your recipes
</div>

<div class="a-search">
    <input type="text"
    class="a-input"
    placeholder="Search" 
    id="typeahead-format"
    type="text"
    [ngbTypeahead]="search"
    [resultFormatter]="formatter"
    name="search-product"
>
</div>

<div class="a-center">
    <div class="a-card" style="padding: 45px;">
        <recipes-table></recipes-table>
    </div>

</div>
 </div>