<div class="card-container">
    <div class="card-title">
        <h1 class="title">Shop2Cook, One-stop shop for your recipes.</h1>
    </div>
    <form class="search-form">
        <input type="text"
            placeholder="Search" 
            [value]="model"
            (keyup)="onKey($event)">
        <button (action)="onSearch($event)" class="search-button"><i class="bi bi-search"></i></button>
    </form>
    <div class="data-container">
        <h2 class="title">Filters</h2>
        <div class="filters-container">
            <div class="filter-recipes">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Location
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">less then 1km</a>
                      <a class="dropdown-item" href="#">1km</a>
                      <a class="dropdown-item" href="#">2km</a>
                    </div>
                </div>
            </div>
            <div class="filter-recipes">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Price
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#"></a>
                      <a class="dropdown-item" href="#">less then 100 lei</a>
                      <a class="dropdown-item" href="#">100-200 lei</a>
                      <a class="dropdown-item" href="#">200-300 lei</a>
                      <a class="dropdown-item" href="#">300-400 lei</a>
                    </div>
                </div>
            </div>
        </div>
        <recipes-table [recipes]="recipes"></recipes-table>
    </div>

    <div *ngIf="this.storeList.length> 0? true: false" [ngStyle]="{ 'background-color': 'gray' }">
        <label>Magazine</label>
        <p-dataView [value]="storeList">
            <ng-template let-store pTemplate="listItem">
                <br>
                <div class="flex align-items-center p-2 w-full flex-wrap" [ngStyle]="{ 'background-color': 'white' }">
                    <div class="w-full text-center lg:w-auto lg:text-left">
                        <label>{{store.name}}</label>
                    </div>
                    <div class="flex-1">
                        <h5 class="mb-2">{{ store.addrstring }}</h5>
                        <i class="pi pi-tag vertical-align-middle mr-2"></i>
                        <span class="vertical-align-middle line-height-1">{{ store.zipcode }}</span>
                    </div>
                    <div class="flex flex-column align-items-end">
                        <h6 class="mb-2">{{ 'lat:' + (store.location?.Lat!=undefined? store.location.Lat: '0') + ' long:' + (store.location?.Lon!=undefined? store.location.Lon: '0') }}</h6>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

