#map{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 8, 51, 0.493), rgba(0,8,51,0.9)), url("../../assets/store-map.png");
}
.scroll{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.recipe-details {
    flex-direction: column;
    height: 80%;
    width: 27%;
    background: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    backdrop-filter: blur(4px) saturate(100%);
    color: black;
    position: fixed;
    top: 10%;
    left: 3%;
}

.recipe-title {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
   line-height: 100px;
    color: black;
    font-size: 40px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* set the maximum number of lines to two */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.section-title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.section-info {
    margin-left: 20px;
}

ul li {
    list-style-type: none;
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
}
}
@keyframes slide-right {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
}
}
  