<div id="map">
</div>
<div class="recipe-details-container ">
    <div class="recipe-details">
        <div class="scroll">
            <div class="recipe-title">
                <h2 class="title" title="Test">{{recipe.name}}</h2>
            </div>
            <div class="recipe-description">
                <div class="recipe-ingredients">
                    <p class="section-title">Recipe ingredients</p>
                    <ul>
                        <li *ngFor="let ingredient of recipe.ingredients">
                          <label>
                            <input type="checkbox">
                            {{ ingredient }}
                          </label>
                        </li>
                      </ul>
                </div>
                <div class="recipe-location">
                    <p class="section-title">Recomended store</p>
                    <p class="section-info">{{recipe.store}}</p>
                </div>
                <p class="section-title">Recipe description</p>
                <p class="section-info">{{recipe.instructions}}
                </p>
            </div>
        </div>
    </div>    
</div>